<div>
    <h1>This is what you sent me...</h1>
    <p>{{searchString}}</p>
    <p>{{searchDate}}</p>

    <h3>Here are your result</h3>
    <ul>
        {{#each searchResult}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>