<form method="POST" action="/search">

    <label for="searchString">Search:</label>
    <input type="text" name="searchString">

    <label for="searchDate">Date:</label>
    <input type="date" name="searchDate">

    <button type="submit">Search in my server</button>
</form>